<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthorServiceEndpoint" />
        <binding name="BookServiceEndpoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/AuthorService.svc" binding="basicHttpBinding"
          bindingConfiguration="AuthorServiceEndpoint" contract="AuthorProxy.IAuthorService"
          name="AuthorServiceEndpoint" />
      <endpoint address="http://localhost/BookService.svc" binding="basicHttpBinding"
          bindingConfiguration="BookServiceEndpoint" contract="BookProxy.IBookService"
          name="BookServiceEndpoint" />
    </client>
  </system.serviceModel>
</configuration>