<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IAuthorService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/AuthorService.svc" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IAuthorService"
                contract="AuthorProxy.IAuthorService" name="NetNamedPipeBinding_IAuthorService">
                <identity>
                    <userPrincipalName value="DEVELOPER\Developer" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>