<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="BookBehavior">
                    <serviceMetadata httpGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="AuthorBehavior">
                  <serviceMetadata httpGetEnabled="false" />
                  <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
          <basicHttpBinding>
            <binding name="DefaultBinding"/>
          </basicHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="BookBehavior" name="Spike.Services.BookService">
                <endpoint address="http://localhost/BookService.svc" binding="basicHttpBinding"
                    bindingConfiguration="DefaultBinding" name="BookServiceEndpoint"
                    bindingNamespace="http://spikes/WcfSpikesExample/http/services/BookService"
                    contract="Spike.Contracts.Services.IBookService" />
                <endpoint address="http://localhost/BookService/mex" binding="mexHttpBinding"
                    name="BookServiceMeta" contract="IMetadataExchange" />
            </service>
          <service behaviorConfiguration="AuthorBehavior" name="Spike.Services.AuthorService">
                <endpoint address="http://localhost/AuthorService.svc" binding="basicHttpBinding"
                    bindingNamespace="http://spikes/WcfSpikesExample/http/services/AuthorService"
                    bindingConfiguration="DefaultBinding" name="AuthorServiceEndpoint" contract="Spike.Contracts.Services.IAuthorService" />
                <endpoint address="http://localhost/AuthorService/mex" binding="mexHttpBinding"
                    name="AuthorServiceMeta" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>