<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="BookBehavior">
            <serviceMetadata httpGetEnabled="false" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
          <behavior name="AuthorBehavior">
            <serviceMetadata httpGetEnabled="false" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <bindings>
        <netNamedPipeBinding>
          <binding name="DefaultBinding"/>
        </netNamedPipeBinding>
      </bindings>
        <services>
            <service behaviorConfiguration="AuthorBehavior" name="Spike.Services.AuthorService">
                <endpoint address="net.pipe://localhost/AuthorService.svc" binding="netNamedPipeBinding"
                  bindingNamespace="http://spikes/WcfSpikesExample/pipes/services/AuthorService"      
                  bindingConfiguration="" contract="Spike.Contracts.Services.IAuthorService" />
                <endpoint address="net.pipe://localhost/AuthorService/mex" binding="mexNamedPipeBinding"
                  name="AuthorServiceMeta" contract="IMetadataExchange" />
            </service>
            <service behaviorConfiguration="BookBehavior" name="Spike.Services.BookService">
              <endpoint address="net.pipe://localhost/BookService.svc" binding="netNamedPipeBinding"
                bindingNamespace="http://spikes/WcfSpikesExample/pipes/services/BookService"
                bindingConfiguration="" contract="Spike.Contracts.Services.IBookService" />
              <endpoint address="net.pipe://localhost/BookService/mex" binding="mexNamedPipeBinding"
                name="AuthorServiceMeta" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>