<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="AuthorServiceEndpoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:10109/AuthorService.svc"
                binding="netTcpBinding" bindingConfiguration="AuthorServiceEndpoint"
                contract="AuthorProxy.IAuthorService" name="AuthorServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>