<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthorServiceEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AuthorService.svc" binding="basicHttpBinding"
                bindingConfiguration="AuthorServiceEndpoint" contract="AuthorProxy.IAuthorService"
                name="AuthorServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>